Source: pyrocket
Section: electronics
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Karl Ostmo <kostmo@gmail.com>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5), python, cdbs (>= 0.4.49)
Build-Depends-Indep: perl, python-support (>= 0.5.3)
XB-Python-Version: ${python:Versions}
Homepage: http://kostmo.ath.cx/software/pyrocket/

Package: pyrocket
Architecture: all
Depends: ${python:Depends}, python-gtk2, python-pyusb, python-pygame
Description: PyGTK control of Striker II and Dream Cheeky USB Missile Launchers
 pyrocket is a PyGTK application to operate the USB foam dart launchers
 from Linux.  For some models, it has considerably more functionality than
 the accompanying Windows(R) driver software.
 .
 The .deb installer will give user-permissions to the USB device. Automatic
 detection of the launcher device and a joystick is performed at runtime. A
 video window is also provided, in case you have the webcam-enabled device
 or decide to affix your own webcam to the launcher.
 .
 pyrocket currently supports at least three different rocket launcher models:
 the "original" and the "webcam" USB Missile Launchers sold by Dream Cheeky,
 and Striker II USB Laser Guided Missile Launcher sold by Ninja Gizmos.

