Source: pyrocket
Section: electronics
Priority: optional
Maintainer: Ubuntu MOTU Developers <ubuntu-motu@lists.ubuntu.com>
XSBC-Original-Maintainer: Karl Ostmo <kostmo@gmail.com>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5), python, cdbs (>= 0.4.49)
Build-Depends-Indep: perl, python-support (>= 0.5.3)
XB-Python-Version: ${python:Versions}
Homepage: http://kostmo.ath.cx/software/pyrocket/

Package: pyrocket
Architecture: all
Depends: ${python:Depends}, python-gtk2, python-pyusb, python-pygame
Description: control Striker II and Dream Cheeky USB Missile Launchers
 pyrocket is used to operate USB foam dart launchers. For some models, it has
 considerably more functionality than the drivers provided with the launchers.
 .
 pyrocket automatically detects the launcher(s) and a joystick. For a webcam-
 enabled device, a video window is provided. pyrocket currently supports the
 "original" and "webcam" USB Missile Launchers sold by Dream Cheeky, and
 Striker II USB Laser Guided Missile Launcher sold by Ninja Gizmos.

